html,
button,
input,
select,
textarea {
    color: #444;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #ccc;

    font-family: "Audiowide", sans-serif;

}

#wrapper {
    max-width: 900px;
    min-height: 320px;
    margin-right: auto;
    margin-left: auto;
}

.profile-img {
    position: absolute;
    right: 30%;
    top: 2%;
    border: 10px solid #777;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.section_title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .plusimg{
    padding-top: 1rem;
  }

.couponcode:hover .coupontooltip {
    display: block;
}


.coupontooltip {
    display: none;
    background: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #ccc;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    max-width:500px;
    
}
